@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using System.Globalization
@model DMS.Pages.AboutModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" />
    <meta name="author" />
    <title>About - Malafatee</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script data-search-pseudo-elements defer src="lib/font-awesome/5.11.2/js/all.min.js"></script>
    <script src="lib/feather-icons/4.24.1/feather.min.js"></script>
    @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        <style>
            body {
                direction: rtl;
                text-align: right;
            }
        </style>
    }
    else
    {
        <style>
            body {
                direction: ltr;
            }
        </style>
    }
    <style>
        .switchLanguage_button {
            background: none;
            border: none;
            color: #919eeb;
            outline: none;
        }
    </style>
</head>
<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-dark fixed-top">
                    <div class="container">
                        <a class="navbar-brand text-white" href="index">@Localizer["Logo"]</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mr-lg-5">
                                <li class="nav-item"><a class="nav-link" href="index">@Localizer["Home"]</a></li>
                                <li class="nav-item"><a class="nav-link" href="about">@Localizer["About"]</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact">@Localizer["contactus"]</a></li>
                                @if (System.Globalization.CultureInfo.CurrentCulture.Name == "en-US")
                                {
                                    <li class="nav-item"><button onclick="switchLanguage('ar-SA')" class="switchLanguage_button nav-link">Ar</button></li>
                                }
                                @if (System.Globalization.CultureInfo.CurrentCulture.Name != "en-US")
                                {
                                    <li class="nav-item"><button onclick="switchLanguage('en-US')" class="switchLanguage_button nav-link">En</button></li>
                                }
                                <li style="display:none;" class="nav-item dropdown dropdown-xl no-caret">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Landings<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up mr-lg-n15" aria-labelledby="navbarDropdownDemos">
                                        <div class="row no-gutters">
                                            <div class="col-lg-5 p-lg-3 bg-img-cover overlay overlay-primary overlay-70 d-none d-lg-block" style='background-image: url("https://source.unsplash.com/mqO0Rf-PUMs/500x350")'>
                                                <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                                                    <div class="text-white text-center z-1">
                                                        <div class="mb-3">Multipurpose landing pages for a variety of projects.</div>
                                                        <a class="btn btn-white btn-sm text-primary rounded-pill" href="index">View All</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 p-lg-5">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <h6 class="dropdown-header text-primary">Applications</h6>
                                                        <a class="dropdown-item" href="landing-app-mobile">Mobile App</a><a class="dropdown-item" href="landing-app-desktop">Desktop App</a>
                                                        <div class="dropdown-divider border-0"></div>
                                                        <h6 class="dropdown-header text-primary">Business</h6>
                                                        <a class="dropdown-item" href="landing-multipurpose">Multipurpose</a><a class="dropdown-item" href="landing-agency">Agency</a><a class="dropdown-item" href="landing-press">Press</a><a class="dropdown-item" href="landing-directory">Directory</a><a class="dropdown-item" href="landing-rental">Rental</a><a class="dropdown-item" href="landing-real-estate">Real Estate</a><a class="dropdown-item" href="landing-classifieds">Classifieds</a>
                                                        <div class="dropdown-divider border-0"></div>
                                                        <h6 class="dropdown-header text-primary">Lead Generation</h6>
                                                        <a class="dropdown-item" href="landing-lead-capture">Lead Capture</a>
                                                        <div class="dropdown-divider border-0 d-lg-none"></div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <h6 class="dropdown-header text-primary">Personal</h6>
                                                        <a class="dropdown-item" href="landing-resume">Resume</a><a class="dropdown-item" href="landing-portfolio">Portfolio</a>
                                                        <div class="dropdown-divider border-0"></div>
                                                        <h6 class="dropdown-header text-primary">Header Styles</h6>
                                                        <a class="dropdown-item" href="header-basic">Basic</a><a class="dropdown-item" href="header-basic-signup">Basic (Signup)</a><a class="dropdown-item" href="header-graphic">Graphic</a><a class="dropdown-item" href="header-graphic-signup">Graphic (Signup)</a><a class="dropdown-item" href="header-inner-page">Inner Page</a><a class="dropdown-item" href="header-nav-only">Nav Only</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:none;" class="nav-item dropdown dropdown-lg no-caret">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="navbarDropdownPages">
                                        <div class="row no-gutters">
                                            <div class="col-lg-6 p-lg-5">
                                                <h6 class="dropdown-header text-primary">Company</h6>
                                                <a class="dropdown-item" href="page-basic">Basic Page</a><a class="dropdown-item" href="page-company-about">About</a><a class="dropdown-item" href="page-company-pricing">Pricing</a><a class="dropdown-item" href="page-company-contact">Contact</a><a class="dropdown-item" href="page-company-terms">Terms</a>
                                                <div class="dropdown-divider border-0"></div>
                                                <h6 class="dropdown-header text-primary">Support</h6>
                                                <a class="dropdown-item" href="page-help-center">Help Center</a><a class="dropdown-item" href="page-help-knowledgebase">Knowledgebase</a><a class="dropdown-item" href="page-help-message-center">Message Center</a><a class="dropdown-item" href="page-help-support-ticket">Support Ticket</a>
                                                <div class="dropdown-divider border-0 d-lg-none"></div>
                                            </div>
                                            <div class="col-lg-6 p-lg-5">
                                                <h6 class="dropdown-header text-primary">Careers</h6>
                                                <a class="dropdown-item" href="page-careers-overview">Careers List</a><a class="dropdown-item" href="page-careers-listing">Position Details</a>
                                                <div class="dropdown-divider border-0"></div>
                                                <h6 class="dropdown-header text-primary">Blog</h6>
                                                <a class="dropdown-item" href="page-blog-overview">Overview</a><a class="dropdown-item" href="page-blog-post">Post</a><a class="dropdown-item" href="page-blog-archive">Archive</a>
                                                <div class="dropdown-divider border-0"></div>
                                                <h6 class="dropdown-header text-primary">Portfolio</h6>
                                                <a class="dropdown-item" href="page-portfolio-grid">Grid</a><a class="dropdown-item" href="page-portfolio-large-grid">Large Grid</a><a class="dropdown-item" href="page-portfolio-masonry">Masonry</a><a class="dropdown-item" href="page-portfolio-case-study">Case Study</a><a class="dropdown-item" href="page-portfolio-project">Project</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="display:none;" class="nav-item dropdown no-caret">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentation<i class="fas fa-chevron-right dropdown-arrow"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="navbarDropdownDocs">
                                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/quickstart" target="_blank">
                                            <div class="icon-stack bg-primary-soft text-primary mr-4"><i class="fas fa-book-open"></i></div>
                                            <div>
                                                <div class="small text-gray-500">Documentation</div>
                                                Usage instructions and reference
                                            </div>
                                        </a>
                                        <div class="dropdown-divider m-0"></div>
                                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/components" target="_blank">
                                            <div class="icon-stack bg-primary-soft text-primary mr-4"><i class="fas fa-code"></i></div>
                                            <div>
                                                <div class="small text-gray-500">Components</div>
                                                Code snippets and reference
                                            </div>
                                        </a>
                                        <div class="dropdown-divider m-0"></div>
                                        <a class="dropdown-item py-3" href="https://docs.startbootstrap.com/sb-ui-kit-pro/changelog" target="_blank">
                                            <div class="icon-stack bg-primary-soft text-primary mr-4"><i class="fas fa-file"></i></div>
                                            <div>
                                                <div class="small text-gray-500">Changelog</div>
                                                Updates and changes
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            @{
                                string text = !User.Identity.IsAuthenticated ? Localizer["SignUp"].Value : Localizer["Dashboard"].Value;
                                string href = !User.Identity.IsAuthenticated ? "Register" : "Dashboard";
                                <a class="btn-teal btn rounded-pill px-4 ml-lg-4" href="@href">@text<i class="fas fa-arrow-right ml-1"></i></a>
                            }
                        </div>
                    </div>
                </nav>
                <header class="page-header page-header-dark bg-gradient-primary-to-secondary">
                    <div class="page-header-content pt-10">
                        <div class="container text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h1 class="page-header-title mb-3">@Localizer["AboutLogo"]</h1>
                                    <p class="page-header-text">@Localizer["How"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="svg-border-rounded text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0" /></svg>
                    </div>
                </header>
                <section class="bg-white py-10">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <h2 class="mb-4">@Localizer["guide"]</h2>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, eos quisquam expedita quo officiis porro provident laborum. Earum, consequatur provident, ipsam at excepturi rerum laborum aliquam facere molestias mollitia recusandae.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsam? Perspiciatis sunt voluptatum officia non harum, dolores omnis fugiat nam ad optio cumque molestiae impedit dignissimos velit commodi aliquid iure?</p>
                                <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sapiente natus architecto aut porro! Vitae iusto praesentium recusandae debitis, cumque illum amet suscipit rem pariatur, magni iure laborum inventore in!</p>
                                <hr class="my-5" />
                                <h4 class="mb-4">
                                    <div class="icon-stack bg-primary text-white mr-2"><i data-feather="arrow-right"></i></div>
                                    @Localizer["what"]
                                </h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, eos quisquam expedita quo officiis porro provident laborum. Earum, consequatur provident, ipsam at excepturi rerum laborum aliquam facere molestias mollitia recusandae.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ipsam? Perspiciatis sunt voluptatum officia non harum, dolores omnis fugiat nam ad optio cumque molestiae impedit dignissimos velit commodi aliquid iure?</p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem sapiente natus architecto aut porro! Vitae iusto praesentium recusandae debitis, cumque illum amet suscipit rem pariatur, magni iure laborum inventore in!</p>

                                <hr class="my-5" />
                                <h4 class="mb-4">
                                    <div class="icon-stack bg-primary text-white mr-2"><i data-feather="arrow-right"></i></div>
                                    @Localizer["Move"]
                                </h4>
                                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dolorem suscipit veniam excepturi soluta ducimus tempora quasi, itaque odit libero, eos in dolore natus, ipsam consectetur voluptate nulla provident aliquam?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laboriosam consequuntur iusto vero consequatur beatae, tempore voluptatem rerum sit facilis aut ea optio eaque quaerat, libero recusandae soluta molestiae veniam.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, ut! Ut ipsum debitis numquam. Perferendis, laudantium! Itaque ab velit eaque magnam quis quam libero saepe nobis culpa. Vitae, dignissimos iusto.</p>

                            </div>
                        </div>
                    </div>
                    <div class="svg-border-rounded text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0" /></svg>
                    </div>
                </section>
            </main>
        </div>
        <div id="layoutDefault_footer">
            <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="footer-brand">@Localizer["Logo"]</div>
                            <div class="mb-3">@Localizer["title"]</div>
                            <div class="icon-list-social mb-5">
                                <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-instagram"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-facebook"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-github"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    <div class="text-uppercase-expanded text-xs mb-4">@Localizer["Product"]</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="index">@Localizer["Home"]</a></li>
                                        <li class="mb-2"><a href="about">@Localizer["Abour"]</a></li>
                                        <li class="mb-2"><a href="contact">@Localizer["contactus"]</a></li>
                                    </ul>
                                </div>
                                <!--
                                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                    <div class="text-uppercase-expanded text-xs mb-4">Technical</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="javascript:void(0);">Documentation</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Changelog</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Theme Customizer</a></li>
                                        <li><a href="javascript:void(0);">UI Kit</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                                    <div class="text-uppercase-expanded text-xs mb-4">Includes</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="javascript:void(0);">Utilities</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Components</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Layouts</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Code Samples</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Products</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Affiliates</a></li>
                                        <li><a href="javascript:void(0);">Updates</a></li>
                                    </ul>
                                </div>-->
                                <div class="col-lg-3 col-md-6">
                                    <div class="text-uppercase-expanded text-xs mb-4">@Localizer["Legal"]</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="privacypolicy">@Localizer["PrivacyPolicy"]</a></li>
                                        <li class="mb-2"><a href="terms">@Localizer["Terms"]</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-5" />
                    <div class="row align-items-center">
                        <div class="col-md-6 small">Copyright &#xA9; Zimam Solutions (Malafatee) 2020</div>
                        <div class="col-md-6 text-md-right small">
                            <a href="privacypolicy">@Localizer["PrivacyPolicy"]</a>
                            &#xB7;
                            <a href="terms">@Localizer["Terms"]</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    <script>
        function switchLanguage(culture) {
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    location.reload();
                }
            }
            const fd = new FormData();
            fd.append('culture', culture);
            xhr.open("POST", "api/Culture", true);
            xhr.send(fd);
        }
    </script>
</body>
</html>
