@page
@model DMS.Pages.AddSearchKeyModel
@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "~/Pages/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<head>
    <style>

        .add_contact_form {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contact_input {
            width: 360px;
        }

        

        .error {
            display: flex;
            justify-content: center;
        }

        .contact_found, .server_error {
            color: rgb(255,82,82);
            display: none;
        }

        .empty_field {
            color: rgb(255,82,82);
            display: none;
        }
    </style>
</head>

<h2 class="content-block">@Localizer["AddSearchKey"]</h2>
<div class="error">
    <div class="contact_found">
        @Localizer["AlreadyExists"]
    </div>
    <div class="server_error">
        @Localizer["InternalError"]
    </div>
    <div class="empty_field">
        @Localizer["MissingArgs"]
    </div>
</div>
<div class="add_search_key_form">
 
    <form action="javascript:addKey()">
        <div class="dx-field-value">
            @(Html.DevExtreme().TextBox()
                .Mode(TextBoxMode.Text)
                .Name("SearchKeyName")
                .Placeholder(Localizer["SearchKey"].Value)
                .ElementAttr("class", "contact_input")
                .HoverStateEnabled(true)
            )
            <br />
            @(Html.DevExtreme().Button()
        .Icon("plus")
        .Text(Localizer["AddSearchKey"].Value)
        .OnClick("addContact")

    )
        </div>
    </form>
</div>


<script>
    function addKey() {
        if (!SearchKeyName.value) {
            $(document).ready(function () {
                $('.empty_field').fadeIn(100);
            });
            return;
        } else {
            $('.empty_field').fadeOut(0);
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var t = this.response;
                    var obj = JSON.parse(t);

                    var statusCode = obj.StatusCode;
                    if (statusCode == 0) {
                        $(document).ready(function () {
                            $(".contact_found").fadeOut(0, function () {
                                $(".server_error").fadeOut(0, function () {
                                    $('.empty_field').fadeOut(0)
                                })
                            })
                        });
                        window.location = '/';

                    }
                    if (statusCode == 103) {
                        $(document).ready(function () {
                            $(".server_error").fadeIn(100);
                        })
                    } else {
                        $('.server_error').fadeOut(0)
                    }
                    if (statusCode == 105) {
                        $(".contact_found").fadeIn(100);
                    } else {
                        $('.contact_found').fadeOut(0);
                    }
                }
            }
            var contact = SearchKeyName.value;
            const fd = new FormData();
            fd.append("Name", contact);
            xhr.open("POST", "api/SearchKeys/AddKey", true);
            xhr.send(fd);
        }

    }
</script>

