@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model DMS.Pages.LoginModel
@{
    Layout = null;
    ViewData["Title"] = Localizer["Title"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous" />
    <link href="~/css/auth.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/wave.png" class="wave" />
    <div class="container">
        <div class="img">
            <img src="~/images/download1.svg" />
        </div>
        <div class="login-content">
            <form action="javascript:Login()">
                <img src="~/images/download2.svg" />
                <h2 class="title">@Localizer["Welcome"]</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>@Localizer["Email"]</h5>
                        <input type="email" class="input email_input" id="email_input" autocomplete="off" />
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>@Localizer["Password"]</h5>
                        <input type="password" class="input" id="password_input" />
                    </div>
                </div>
                <a href="#">@Localizer["ForgotPassword"]</a>
                <input type="submit" class="btn" value="@Localizer["Login"]" />
            </form>
            <span class="err101">@Localizer["WrongCredentials"]</span>
        </div>
    </div>
    <script src="~/js/main.js"></script>

    <script>
        function Login() {
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var t = this.responseText;
                    var obj = JSON.parse(t);
                    console.log(obj);

                    var statusCode = obj.StatusCode;


                    if (statusCode == 0) {
                        window.location = 'index';
                    }
                    if (statusCode == 101) {
                        $(document).ready(function () {
                            $(".err101").fadeIn(200)
                        })
                    } else {
                        $(".err101").fadeOut(200)
                    }
                    if (statusCode = 103) {
                        // Internal error
                        console.log(103);
                    } else {
                        console.log('good!!')
                    }
                }
            }
            let email = document.getElementById('email_input').value;
            let password = document.getElementById('password_input').value;
            const fd = new FormData();
            fd.append('username', email);
            fd.append('password', password);
            xhr.open('Post', 'api/authorization/Login', true);
            xhr.send(fd);
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>

