@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model DMS.Pages.LoginModel
@{
    Layout = null;

    if (User.Identity.IsAuthenticated)
    {
        <script>window.location = 'Dashboard'</script>


    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localizer["Title"]</title>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous" />
    <link href="~/css/auth.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
</head>
<body>
    <img src="~/images/waveblue.png" class="wave" />
    <div class="container">
        <div class="img">
            <img src="~/images/download1.svg" />
        </div>
        <div class="login-content">
            <form action="javascript:Login()">
                <img src="~/images/download2(1).svg" />
                <h2 class="title">@Localizer["Welcome"]</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>@Localizer["Email"]<span class="empty_field">@Localizer["FieldRequired"]</span><span class="err101">@Localizer["WrongCredentials"]</span></h5>
                        <input type="email" class="input email_input" id="email_input" autocomplete="off" />
                    </div>  
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5 >@Localizer["Password"]<span class="empty_password">@Localizer["FieldRequired"]</span></h5>
                        <input type="password" class="input " id="password_input" />
                    </div>
                </div>
                <a href="#">@Localizer["ForgotPassword"]</a>
                <a href="Register">@Localizer["CreateAccount"]</a>
                <button type="submit" class="btn" id="login_button">@Localizer["Login"]</button>
                        
                @(Html.DevExtreme().Button()
                    .Type(ButtonType.Normal)
                    .ID("btnChangeLang")
                    .OnClick(System.Globalization.CultureInfo.CurrentCulture.Name != "en-US" ? "switchLanguageEn" : "switchLanguageAr")
                    .Text(System.Globalization.CultureInfo.CurrentCulture.Name != "en-US" ? "English" : "عربي"))
            </form>
        </div>
    </div>
    <div class="box">
    </div>

    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function switchLanguageEn() {
            switchLanguage("en-US");
        }

        function switchLanguageAr() {

            switchLanguage("ar-SA");
        }

        function switchLanguage(culture) {
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    location.reload();
                }
            }
            const fd = new FormData();
            fd.append('culture', culture);
            xhr.open("POST", "api/Culture", true);
            xhr.send(fd);
        }

        function Login() {
            let email = document.getElementById('email_input').value;
            let password = document.getElementById('password_input').value;
            if (!email) {
                $(document).ready(function () {
                    $(".empty_field").fadeIn(200)
                })
            }
            if (!password) {
                $(".empty_password").fadeIn(200);
            }
            $("#email_input").click(function () {
                window.onkeyup = function () {
                    $(".empty_field,.err101").fadeOut(200)
                }
            })
            $('#password_input').click(function () {
                window.onkeyup = function () {
                    $(".empty_password").fadeOut(200);
                }
            })
            
            if (email && password) {
                const xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var t = this.response;
                        var obj = JSON.parse(t);
                        var statusCode = obj.StatusCode;

                        if (statusCode == 0) {
                            console.log("1");
                            //window.location = 'Dashboard';
                        }
                        if (statusCode == 101) {
                            $(document).ready(function () {
                                $(".err101").fadeIn(200)
                            })
                        } else {
                            $(".err101").fadeOut(200)
                        }
                        if (statusCode == 103) {
                            // Internal error
                            location.reload();
                        } 
                    }
                }

                const fd = new FormData();
                fd.append('username', email);
                fd.append('password', password);
                xhr.open('Post', 'api/authorization/Login', true);
                xhr.send(fd);
            }
        }
    </script>
</body>
</html>

