@page
@model DMS.Pages.ManageContactModel
@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "~/Pages/_Layout.cshtml";

    long AutoKey = 0;

    AutoKey = Convert.ToInt64(Request.Query["AutoKey"]);


}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Syncfusion Essential JS 2 Styles -->
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

<!-- Syncfusion Essential JS 2 Scripts -->
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

<h2 class="content-block">@Localizer["ManageContact"]</h2>


@if (AutoKey != 0)
{

    <script>

        $(document).ready(function () {


            $('#txtName').val(getVal());
            $('#txtName').focus();
            $('#txtName').blur();

            });

        function getVal()
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", "api/Contacts/Name?AutoKey=" + @AutoKey, false );
    xmlHttp.send();
    return xmlHttp.responseText;
        }

        function saveCon() {

            if (txtName.value == null) {
                $('.empty_field').fadeIn(100)
                return;
            }
            if (txtName.value !== null) {
                $('.empty_field').fadeOut(0)
            }
            const xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
              if (this.readyState == 4 && this.status == 200) {
                 window.location = "Index";
              }
            }

        xhr.open("POST", 'api/Contacts/Save', true);

            const fd = new FormData();

            fd.append('AutoKey', @AutoKey);
            fd.append('Name', txtName.value);
            xhr.send(fd);
        }


        function deleteCon() {
            const xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
            window.location = "Index";
            }
        }

        xhr.open("POST", 'api/Contacts/Delete', true);

            const fd = new FormData();

            fd.append('AutoKey', @AutoKey);
            xhr.send(fd);

        }

    </script>



    @(Html.DevExtreme().TextBox()

                .Placeholder(Localizer["ContactNameCol"].Value)
                        .ElementAttr("class", "content-block")
                        .Name("txtName")
    )
    <div class="empty_field" style="display: none;">
        @Localizer["MissingArgs"]
    </div>
    <br />
    @(Html.DevExtreme().Button()
        .Icon("save")
        .Text(Localizer["Save"].Value) 
        .OnClick("saveCon")
        .ElementAttr("class", "content-block")

    )
    @(Html.DevExtreme().Button()
        .Icon("trash")
        .Text(Localizer["DeleteCon"].Value)
        .OnClick("deleteCon")
        .ElementAttr("class", "content-block")

    )
}
else
{
    @(Html.DevExtreme().DataGrid()
        .ID("contactsList")

.DataSource(d => d.Mvc()
    .Controller("Contacts")
    .LoadAction("Get")
    .Key("AutoKey")
).KeyExpr("AutoKey")
            .ShowRowLines(true)
            .ShowBorders(true)
            .ColumnAutoWidth(true)
                    /*.RowDragging(rd => rd
                        .AllowDropInsideItem(true)
                        .AllowReordering(true)
                        .OnDragChange("onDragChange")
                        .OnReorder("onReorder")
                        .ShowDragIcons(true)
                    )*/
                    .ElementAttr("class", "content-block")

            .Columns(columns =>
            {
                columns.Add().DataField("Name")
                    .Caption(Localizer["ContactNameCol"].Value);
                columns.Add()
               .Caption(Localizer["Manage"].Value)
               .Width(100)
               .Alignment(HorizontalAlignment.Center)
               .AllowFiltering(false)
               .AllowSorting(false)
               .CellTemplate(new JS("cellTemplate"));


            })
        )
}

<script>

    //<![CDATA[
    function cellTemplate(element, cellInfo) {
        $('<a/>')
            .text(@Localizer["Manage"])
            .click(function () {
                onEdit(element, cellInfo);
            })
            .appendTo(element);
    }

    function onEdit(element, cellinfo) {
        var autokey = cellinfo.data.AutoKey;

        window.location.href = 'ManageContact?AutoKey=' + autokey;
    }
</script>